<div>
    <div class="container">
      <div class="outer-card mb-5" id="midwife-card">
        <div class="background-card">
          <h2>Bookings</h2>
        </div>
      <% if !@bookings.empty? %>
        <div class="inner-card">
          <div class="name-avatar">
            <% @bookings.each do |booking| %>
              <% unless booking.pending? %>
                <%= link_to mom_path(booking.mom) do %>
                  <div class="inner-card">
                    <%= cl_image_tag booking.mom.photo.key , class: "avatar"%>
                    <h4><%= booking.mom.user.first_name %></h4>
                      <div class="border"></div>
                  </div>
                  </div>
                  <div class="info-card">
                  <p><i class="fa-solid fa-baby"></i><%=  booking.midwife.new_requests.mom.due_date %></p>
                  <p><i class="fa fa-map-marker "></i><%=  booking.mom.user.street_no %>, <%= booking.mom.user.city_po %></p>
                <% end %>
                </div>
                </div>
                <%= link_to "New Appointment for #{booking.mom.user.first_name}", new_booking_appointment_path(booking), class: "btn btn-primary" %>
              <% end %>
            <% end %>
          <% else %>
            <p>You currently have no patients</p>
          <% end %>
          </div>
        </div>
    </div>
</div>
