<% unless @no_navbar %>
    <% if current_user.is_midwife %>
      <div class="navbar-fymw" id="navbar-midwife">
        <%= link_to midwife_bookings_path(current_user.midwife) do %>
        <i class="fa-solid fa-user-check" class="icon"></i>
        <% end  %>
        <i class="fa-solid fa-calendar-check" class="icon"></i>
          <%= link_to midwives_path do %>
        <i class="fa-solid fa-house" class="icon"></i>
          <% end %>
        <i class="fa-solid fa-comment" class="icon"></i>
        <i class="fa-solid fa-gear"class="icon"></i>
      </div>
    <% else %>
      <div class="navbar-fymw" id="navbar-mom">
        <%= link_to search_path do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
        <%= link_to bookings_path do %>
          <i class="fa-solid fa-calendar-check"></i>
        <% end %>
        <%= link_to moms_path do %>
          <i class="fa-solid fa-house"></i>
        <% end %>
        <i class="fa-solid fa-comment"></i>
        <i class="fa-solid fa-gear"></i>
      </div>
    <% end %>
  <% end %>
