<div class="container mt-5 text-center">
  <%= month_calendar(events: @appointments) do |date, appointment| %>
      <%= date.day %>
  <% end %>
  <div class="card-container">
    <div class="outer-card-calendar align-items-center" id="midwife-card">
      <% @moms.each do |mom| %>
          <% mom.bookings.each do |booking| %>
            <% unless booking.appointments.empty? || booking.mom != mom || booking.midwife != current_user.midwife%>
              <div class="outer-card-appointment w-50">
              <%= link_to mom_path(mom), class: "text-decoration-none text-dark" do %>
                <h4><%= mom.user.first_name %> <%= mom.user.last_name %> (<%= booking.appointments.count %>)
                <%= cl_image_tag mom.photo.key, class: "avatar-large" %></h4>
              <% end %>
              <% booking.appointments.each do |appointment| %>
                <div class="inner-card-appointment">
                  <p><strong><%= appointment.title %></strong> - <%= appointment.start_time.strftime("%A, %d %b %Y %l:%M %p") %></p>
                </div>
              <% end %>
              </div>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
