<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<div class="container">
  <div>
    <%= cl_image_tag @midwife.photo.key, class:"show-img center mt-2"%>
  </div>
  <div class="outer-card align-items-center">
  <% if current_user.is_midwife? %>
    <div class="inner-card" id="midwife-card">
  <% else %>
    <div class="inner-card" id="mom-card">
  <% end %>
    <div class="inner-card">
      <% if current_user.is_midwife? %>
        <div class="midwife-info-card">
      <% else %>
        <div class="mom-info-card">
      <% end %>
        <i class="fa fa-user"></i> <strong><%= @midwife.user.first_name %> <%= @midwife.user.last_name %></strong>
        <p></p>
        <p>Available from: <%= @midwife.availability.strftime("%d/%m/%Y")%></p>
        <p> <%= @midwife.years_experience %> Years working in: <%= @midwife.speciality%></p>
        <p> <%= @midwife.bio %></p>
    </div>

      <% if current_user.is_midwife && current_user.midwife = @midwife %>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profile">
              Edit Profile
            </button>

            <!-- Modal -->
            <div class="modal fade" id="profile" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit profile</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for(@midwife) do |f| %>
                    <%= f.select :speciality, Midwife::SPECIALITIES%>
                    <%= f.input :years_experience , class: 'btn btn-flat' %>
                    <%= f.input :availability, as: :date, html5: true, class: 'btn btn-flat' %>
                    <%= f.input :photo, as: :file, class: 'btn btn-flat' %>
                    <%= f.submit class: "btn btn-outline-info" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
      <% else %>
        <%= link_to 'Send Request', midwife_bookings_path(@midwife),  data: {turbo_method: :post}, class: 'btn btn-blue' %>
        <%= link_to 'Back', search_path, class: 'btn btn-blue' %>
      <% end %>
    </div>
  </div>
</div>
